name: Update Lines of Code Badge

on:
  push:
    branches: [ "development", "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-loc-badge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.MY_ADMIN_TOKEN }} 
          fetch-depth: 0

      - name: Generate LoC Badge
        uses: shadowmoose/GHA-LoC-Badge@1.0.0
        id: badge
        with:
          debug: true
          directory: ./
          badge: ./doc/loc-badge.svg
          ignore: 'node_modules|.git|.vs|bin|obj' 
          
      - name: Commit and Push Badge
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "KAI Bot"
          mkdir -p doc
          git add doc/loc-badge.svg
          
          git commit -m "chore: update lines of code badge" || exit 0
          
          git push
